<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">
<head>
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<th:block layout:fragment="css">
	<style>
.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper {
	width: 100%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.swiper-slide {
	background-size: cover;
	background-position: center;
}

.detailbar {
	width: 48%;
	margin: 0 auto;
	padding-bottom: 30px;
	padding-top: 20px
}

.good {
	font-weight: bold;
	color: #7e7b56d6;
	margin: 0 auto;
}

.container {
	padding-top: 30px;
}

.goodbg {
	background-color: #faebd778;
	text-align: center;
	padding: 50px 0;
}

.mySwiper2 {
	height: 80%;
	width: 100%;
}

.mySwiper {
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
}

.mySwiper .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}

.asd {
	width: 50%;
	margin: 0 auto;
}

.mySwiper .swiper-slide-thumb-active {
	opacity: 1;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
</style>
</th:block>

<div layout:fragment="content">
	<div class="bg-light py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-0 header_margin">
					<a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
						class="text-black">객실 상세</strong>
				</div>
			</div>
		</div>
	</div>

	<div class="site-section">
		<div class="container">
			<div class="row">
				<input type="hidden" id="itemId" th:value="${item.id}">

				<div class="asd">
					<div
						style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
						class="swiper mySwiper2">
						<div class="swiper-wrapper">
							<div class="swiper-slide"
								th:each="itemImg : ${item.itemImgDtoList}">
								<img th:if="${not #strings.isEmpty(itemImg.imgUrl)}"
									th:src="${itemImg.imgUrl}" />
							</div>
						</div>
					</div>
					<div class="swiper mySwiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide"
								th:each="itemImg : ${item.itemImgDtoList}">
								<img th:if="${not #strings.isEmpty(itemImg.imgUrl)}"
									th:src="${itemImg.imgUrl}">
							</div>
						</div>
					</div>
				</div>

				<form role="form" action="/order" method="post"
					th:object="${ReservationDto}">
					<input type="hidden" th:value="${item.id}" name="itemId"> <input
						type="hidden" th:value="0" name="facilitiesId">
					<div class="col-md-6">
						<span th:text="${item.itemStatus}"
							class="badge badge-primary mgb-15"></span>
						<h2 class="text-black" th:text="${item.itemNm}"></h2>
						<p>
							<input type="hidden" id="price" name="price"
								th:value="${item.price}"> <strong
								class="text-primary h4"
								th:text="|${#numbers.formatInteger(item.price, 0, 'COMMA')}원|"></strong>
						</p>
						<div>
							<label for="startDay">체크인 날짜</label> <input type="date"
								id="checkIn" name="startDay" onchange="calculateTotalPrice()">
							<label for="endDay">체크아웃 날짜</label> <input type="date"
								id="checkOut" name="endDay" onchange="calculateTotalPrice()">
						</div>
						<div class="mb-5">
							<div class="form-group row">
								<div class="col-md-12">
									<h4 style="padding-top: 50px;">인원 수</h4>
									<select id="person" onchange="selectBoxChange(this.value)"
										onclick="calculateTotalPrice()" th:field="*{person}">
										<option value="1">1명</option>
										<option value="2">2명</option>
										<option value="3">3명</option>
										<option value="4">4명</option>
										<option value="99">5명 이상은 문의바랍니다.</option>
									</select>
								</div>
							</div>
						</div>
						<div>
							<h5
								style="display: inline-block; margin-right: 15px; color: black; font-weight: bold; width: 110%;">총
								상품 금액</h5>
							<input type="hidden" id="Tprice" th:field="*{tprice}">
							<h2 id="totalPrice" class="text-primary h4"></h2>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12">
							<button type="submit">예약하기</button>
							<input type="hidden" th:name="${_csrf.parameterName}"
								th:value="${_csrf.token}">
						</div>
					</div>



					<p th:unless="${#strings.equals(item.itemStatus, 'SELL')}">해당
						상품은 현재 품절입니다.</p>
				</form>
			</div>
		</div>
	</div>
	<p class="goodbg">
		<span class="good">전망 :</span> <span th:text="${item.view}"></span> <span>&nbsp;&nbsp;&nbsp;|
			&nbsp;&nbsp;&nbsp; </span> <span class="good"> 침대 사이즈 :</span> <span
			th:text="${item.bedSize}"></span> <span>&nbsp;&nbsp;&nbsp;|
			&nbsp;&nbsp;&nbsp;</span> <span class="good"> 침대 사이즈 :</span> <span
			th:text="${item.bedSize}"></span> <span>&nbsp;&nbsp;&nbsp;|
			&nbsp;&nbsp;&nbsp;</span> <span class="good"> 침대 사이즈 :</span> <span
			th:text="${item.bedSize}"></span>
	</p>

	<div class="site-section block-3 site-blocks-2">
		<div class="container detailbar">
			<div class="row justify-content-center">
				<div class="col-md-7 site-section-heading text-center pt-4">
					<h2>객실 설명</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p style="white-space: pre-wrap;" th:text="${item.itemDetail}"></p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		var swiper = new Swiper(".mySwiper", {
			spaceBetween : 10,
			slidesPerView : 4,
			freeMode : true,
			watchSlidesProgress : true,
		});
		var swiper2 = new Swiper(".mySwiper2", {
			spaceBetween : 10,
			navigation : {
				nextEl : ".swiper-button-next",
				prevEl : ".swiper-button-prev",
			},
			thumbs : {
				swiper : swiper,
			},
		});

		function calculateTotalPrice() {
			const startDateStr = new Date($("#checkIn").val());
			const endDateStr = new Date($("#checkOut").val());
			var count = $("#person").val();//수량
			var price = $("#price").val();//가격
			var gg = (endDateStr - startDateStr);
			const daysDifference = gg / (1000 * 60 * 60 * 24);
			var totalPrice = (price * count * daysDifference)
					.toLocaleString('ko-KR')
					+ '원'; //천단위 콤마
			if (count == '99') {
				totalPrice = '0';
			}
			if ("1" >= totalPrice) {
				totalPrice = "날짜를 확인해주세요";
			}
			$("#Tprice").val(totalPrice);
			$("#totalPrice").html(totalPrice); //총가격 출력
		}

		function order() {
			alert('로그인 후 사용해주세요')
			var token = $("meta[name='_csrf']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");

			var url = "/order";

			//controller(서버)에 전달할 데이터
			var paramData = {
				itemId : $("#itemId").val(), //item의 ID
				count : $("#count").val()
			// 수량
			}

			//전달하기전에 데이터를 json => 문자열로 만들어야 한다/

			var param = JSON.stringify(paramData);

			$.ajax({
				url : url,
				type : "POST",
				contentType : "application/json",
				data : param, //서버에 전송할 데이터
				beforeSend : function(xhr) {
					//데이터를 전송하기전에 헤더에 csrf값을 설정
					xhr.setRequestHeader(header, token);

				},
				dataType : "json",
				cache : false,
				success : function(result, status) {
					alert("주문이 완료 됐다.");
					//location.href='/';
				},
				error : function(jqXHR, status, error) {
					if (jqXHR.status == '401') {
						alert('로그인 후 사용해주세요')
						location.href = '/members/login';
					} else {
						alert(jqXHR.responseText);//에러 메세지 출력
					}
				}
			});
		}
	</script>

</th:block>

</html>