<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style>
select {
	margin: 2px;
	width: 33.33%;
}

a {
	cursor: pointer
}
</style>
</th:block>

<div layout:fragment="content">
	<div class="bg-light py-3">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-0 header_margin">
					<a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong
						class="text-black">문의 함</strong>
				</div>
			</div>
		</div>
	</div>

	<div class="site-section">
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					<h2 class="h3 mb-3 text-black">문의 함</h2>
					<form th:action="@{'/admin/inquirys/' + ${inquirys.number}}" method="get"
						th:object="${inquirys}">
						<table class="table table-responsive-md">
							<thead>
								<tr>
									<th scope="col">문의 번호</th>
									<th scope="col">문의 날짜</th>
									<th scope="col">처리 상태</th>
									<th scope="col">email</th>
								</tr>
							</thead>
							<tbody>
								<!-- 초기화된 데이터를 출력한다. -->
								<tr th:each="inquiry, status: ${inquirys.getContent()}">
									<th> <a th:href="'/admin/inquiry/' + ${inquiry.id}" th:text="${inquiry.id}" scope="row"></a> </th>
									<td th:text="${inquiry.inquiryDate}"></td>
									<td th:text="${inquiry.state}"></td>
									<td th:text="${inquiry.email}"></td>
								</tr>
							</tbody>
						</table>

						<!-- 페이징버튼 -->
						<!-- start(페이지 시작 번호) = (현제 페이지 번호 / 보여줄 페이지수) * 보여줄 페이지 수 + 1 -->
						<!-- end(페이지 끝 번호) = start + (보여줄 페이지 수 - 1)-->
						<nav
							th:with="start=${(inquirys.number/maxPage)*maxPage + 1}
							,end=(${(inquirys.totalPages == 0) ? 1 : (start + (maxPage - 1) < inquirys.totalPages ? start + (maxPage - 1) : inquirys.totalPages)})"
							aria-label="Page navigation example">
							<ul class="pagination d-flex justify-content-center">
								<li class="page-item" th:classappend="${inquirys.first}?'disabled'">
									<a class="page-link"
									th:onclick="'javascript:page(' + ${inquirys.number - 1} +')'">이전</a>
								</li>
								<li class="page-item"
									th:each="page: ${#numbers.sequence(start, end)}"
									th:classappend="${inquirys.number eq page-1}?'active':''">
									<a
									class="page-link" th:inline="text"
									th:onclick="'javascript:page(' + ${page - 1} +')'">[[${page}]]</a>
								</li>
								<li class="page-item" th:classappend="${inquirys.last}?'disabled'">
									<a class="page-link"
									th:onclick="'javascript:page(' + ${inquirys.number + 1} +')'">다음</a>
								</li>
							</ul>
						</nav>

						<div class="row" th:object="${inquirySearchDto}"
							style="height: 40px;">
							<div class="col-lg-2"></div>
							<div class="col-lg-5" style="display: flex;">
								<!-- 상품판매 상태 -->
								<select class="form-control" th:field="*{state}">
									<option value="">처리상태(전체)</option>
									<option value="PROCESSING">처리중</option>
									<option value="COMPLETED">처리완료</option>
								</select>
								<!-- 상품명 선택 -->
								<select th:field="*{searchBy}" class="form-control">
									<option value="searchBy">이메일</option>
								</select>
							</div>
							<div class="col-lg-3">
								<div style="display: flex;">
									<input type="text" class="form-control"
										th:field="*{searchQuery}" placeholder="검색어 입력">
									<button id="searchBtn" type="submit"
										class="btn btn-primary mb-3">검색</button>
								</div>
							</div>
							<div class="col-lg-2"></div>
						</div>

					</form>
				</div>

<!-- 				<div class="col-md-2"></div> -->
			</div>
		</div>
	</div>
</div>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).ready(function(){
			$("#searchBtn").on("click", function(e){
				e.preventDefault(); // submit되는걸 방지
				page(0);
			});
		});
		function page(page){
			var searchDateType = $("#searchDateType").val();
			var state = $("#state").val();
			var searchBy = $("#searchBy").val();
			var searchQuery = $("#searchQuery").val();
			location.href = "/admin/inquirys/" + page 
							+ "?state=" + state
							+ "&searchBy=" + searchBy
							+ "&searchQuery=" + searchQuery;
		}
	</script>
</th:block>
</html>